<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <div>
        <!-- placeholder image -->
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
        <img
          class="rounded-lg object-cover object-center shadow-lg"
          src="https://picsum.photos/id/10/500/500"
        />
      </div>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-base text-primary-950/70 dark:text-primary-200/70 sm:text-lg">
          Born in Argentina in 1989 and resident in Japan since 2017, I am a certified translator
          with over ten years of experience and top quality ratings. My main language pairs are
          Japanese/English/Italian into Spanish. Drawing from a broad international background, I
          collaborate with Japanese and global organizations on translation, localization,
          subtitling, dubbing and editing projects. With a passion for international communication,
          I strive to facilitate interactions and promote growth in a variety of markets. <br /><br
          />I specialize in business and digital media, but I am also active in other fields
          including marketing, tourism, music, education and international cooperation. I use CAT
          tools such as Trados Studio, Phrase or memoQ, among others, for cost-effective terminology
          management and quality assurance. Always in line with the latest trends in the translation
          industry, my goal is to deliver high-quality content that not only meets clients’ needs
          but also provides impactful, satisfying experiences.
        </p>
        <!-- <a
          href="/about"
          class="inline-flex items-center justify-center rounded-full border border-transparent bg-primary-600 px-5 py-3 text-base font-medium text-white transition hover:bg-primary-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600 dark:bg-primary-400 dark:text-primary-950 dark:hover:bg-primary-300 dark:focus-visible:outline-primary-400"
        >
          Read about us
        </a> -->
      </div>
    </div>
  </div>
</section>
