---
import Button from '../Button.astro';
---

<div class="flex flex-col-reverse items-center gap-16 lg:flex-row">
  <div class="flex flex-col items-start gap-8 sm:gap-10">
    <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-5xl">
        Translator and localizer based in Japan
      </h1>
      <p class="text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
        <!-- Detail-oriented professional with IT skills and a passion for global communication -->
         Japanese, English, Italian > Spanish
      </p>
    </div>
    <Button href="#contact">Contact me</Button>
  </div>
  <img
    class="h-auto rounded-3xl lg:h-[500px] lg:w-3/5"
    src="profile.webp"
    alt="Hero picture"
    width="600"
    height="500"
  />
</div>
