---
import Title from '../Title.astro';
import Form from './Form';
---

<div class="py-16 sm:py-20" id="contact">
  <div class="grid gap-12 lg:grid-cols-2 lg:gap-8">
    <div class="flex flex-col gap-4 sm:gap-6">
      <Title>Let's work together!</Title>
      <p class="max-w-lg text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl">
        If you have a project you'd like to discuss, I'd love to hear from you. Send me a message
        and I'll respond as soon as possible.
      </p>
    </div>
    <Form client:load />
  </div>
</div>
