---
import Title from './Title.astro';
import { Icon } from 'astro-icon';

type SkillType = {
  text: string;
  icon: string;
};

const skills: SkillType[] = [
  {
    text: 'Proven international experience and a deep cultural understanding unmatched by AI',
    icon: 'emojione:white-heavy-check-mark',
  },
  {
    text: 'Competitive rates, quick deliveries, and utmost care for data protection',
    icon: 'emojione:japanese-secret-button',
  },
  {
    text: 'Content adaptation for different targets in both Europe and the Americas',
    icon: 'emojione:globe-showing-americas',
  },
  {
    text: 'Careful terminology management and an extensive network of field professionals',
    icon: 'emojione:light-bulb',
  },
  {
    text: 'Solid skills in services beyond translation, including media localization, transcreation, etc.',
    icon: 'emojione:antenna-bars',
  },
];
---

<div>
  <Title>Why choose me</Title>

  <ul role="list" class="mt-6 space-y-8 px-4">
    {
      skills.map((skill) => (
        <li class="flex gap-6 text-lg">
          <svg
            class="h-6 w-6 flex-shrink-0 text-primary-600 dark:text-primary-400"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="skyblue"
            aria-hidden="true"
          >
            <Icon name={skill.icon} class="h-12 w-12" />
          </svg>
          <span>{skill.text}</span>
        </li>
      ))
    }
  </ul>
</div>
