---
type Props = {
  styles?: string;
};
const { styles } = Astro.props as Props;
---

<h2
  class={`dark:first-letter:text-accent-400 first-letter:text-accent-500 text-3xl text-center lg:text-start font-medium tracking-tight first-letter:text-6xl sm:text-4xl ${styles}`}
>
  <slot />
</h2>
